body {
  background: linear-gradient(135deg, #1a237e 0%, #64b5f6 100%);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  padding: 20px;
  color: white;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header-logo {
  max-height: 150px; /* Adjust this value to the desired height */
  width: auto; /* Maintain the aspect ratio */
}

.survey-section {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  color: black;
}

.survey-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.survey-statement {
  margin-bottom: 10px;
}

.survey-statement p {
  margin: 0;
  font-weight: bold;
}

.survey-statement label {
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.sidebar {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.sidebar .list-group-item {
  background-color: #ffffff;
  border: none;
  color: #1a237e;
}

.sidebar .list-group-item:hover {
  background-color: #e3f2fd;
}
